body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black;
    color: white;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar-links {
    display: flex;
    justify-content: space-around; /* Or use space-evenly */
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1; /* Allow the links to grow and take up available space */
}

.navbar-links li {
    margin: 0 10px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 1em;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: white;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.3); /* Light shadow */
}

.navbar-icon {
    display: flex;
    align-items: center;
    margin-right: 25px;
}

.navbar-logo-img {
    width: 40px;
    height: 40px;
}
