/* styles.css or LandingPage.css */
body {
    overflow-x: hidden;
}


.centered-content::before {
    --line: hsl(0 0% 95% / 0.15);
    --cell: 120px;
    content: "";
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: linear-gradient(
          90deg,
          var(--line) 1px,
          transparent 1px var(--cell)
        )
        0 calc(var(--cell) * -0.5) / var(--cell) var(--cell),
      linear-gradient(var(--line) 1px, transparent 1px var(--cell)) 0
        calc(var(--cell) * -0.5) / var(--cell) var(--cell);
    mask: linear-gradient(-15deg, transparent 30%, white);
    top: 0;
    z-index: 0;
    transform: translate3d(0, 0, -100vmin);
  }

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* #root {
    height: 100%;
} */

.App {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
